/* EFEITO GLOBAL */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.container-parallax1,
.container-parallax2,
.container-parallax3,
.container-parallax4,
.container-parallax5 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* topo */

.topo {
    width: 100%;
    height: 50px; 
    position: fixed;
    z-index: 1;
    background-color: #604829;
}

.topo img {
    width: 70px;
    position: absolute;
    left: 5%;
    top: calc(50% - 35px);
}

.logo img {
    width: 70px;
}
.topo div {
    position: absolute;
    right: 15%;
    top: 35%;
}

.topo div a {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #c4a47c;
    font-weight: 700;
    text-shadow: 3px 5px 2px #000000;
    margin-right: 20px;
    letter-spacing: 2px;
}

/* banner */

