/* EFEITO GLOBAL */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.topo {
    width: 100%;
    position: fixed;
    z-index: 1;
}

img {
    width: 100px;
    height: 100px;
}